@use '../abstracts/variables' as *;

/*
************
*************************
17. Blog
******************************************************* 
*************************************************************** */

.blog_wrapper {
    &:is(.mr-30) {
        @media #{$lg} {
            margin-right: 15px;
        }
        @media #{$xs, $md} {
            margin-right: 0;
        }
    }
} 

.cinkes_blog_content_wrapper {
    &:is(.mr-30) {
        @media #{$lg} {
            margin-right: 15px;
        }
        @media #{$xs, $md} {
            margin-right: 0;
        }
    }
}

.cinkes_latest_blog_single_content {
    display: flex;
    padding: 30px 40px;
    @media #{$xs, $md, $lg} {
        display: block;
    }
    @media #{$xs} {
        padding: 30px;
    }
}

.cinkes_latest_blog_single_content_author {
    margin-right: 25px;
    position: relative;
    text-align: center;
    margin-top: -80px;
    z-index: 2;
    @media #{$xs, $md, $lg} {
        display: flex;
        justify-content: space-between;
        margin-right: 0;
        margin-bottom: 25px;
        margin-top: -60px;
    }
}

.cinkes_latest_blog_single_content_author_avater img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    @media #{$xs, $md, $lg} {
        width: 65px;
        height: 65px;
    }
}

.cinkes_latest_blog_single_content_author_avater {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    outline: 10px solid #fff;
    @media #{$xs, $md, $lg} {
        width: 65px;
        height: 65px;
        outline: 5px solid #fff;
    }
}

.cinkes_latest_blog_single {
    background-color: #f1f3f2;
    border-radius: 10px 10px 25px 25px;
    overflow: hidden;
    &:is(.mr-20) {
        @media #{$xs, $md, $lg} {
            margin-right: 0;
        }
    }
    &:is(.ml-20) {
        @media #{$xs, $md, $lg} {
            margin-left: 0;
        }
    }

}

.cinkes_latest_blog_single_content_date {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #f94d1c;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    line-height: 1;
    color: #fff;
    transform: translateY(-42.5px);
    @media #{$xs, $md, $lg} {
        width: 65px;
        height: 65px;
        outline: 5px solid #fff;
        transform: translateY(0);
        font-size: 18px;
    }
}
.cinkes_latest_blog_single_meta_category {
    font-size: 14px;
}

.cinkes_blog_meta i {
    margin-right: 6px;
    color: #f94d1c;
}

.cinkes_blog_meta {
    text-decoration: none;
    font-size: 14px;
    color: #555;
}

a.cinkes_blog_meta:hover {
    color: #f94d1c;
}

.cinkes_blog_meta:not(:last-child) {
    margin-right: 25px;
}

.cinkes_latest_blog_single_meta_author a {
    text-decoration: none;
    color: #f94d1c;
    font-weight: 500;
}

.cinkes_latest_blog_sinlge_meta_comments {position: relative;}

.cinkes_latest_blog_sinlge_meta_comments:before {
    position: absolute;
    left: -18px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    background-color: #f94d1c;
    width: 5px;
    height: 1px;
}

.cinkes_latest_blog_single_meta {
    margin-bottom: 15px;
}
.cinkes_latest_blog_single_content_title {
    font-size: 25px;
    line-height: 1.28;
    margin-bottom: 0;
    color: #444444;
    @media #{$xs} {
        font-size: 20px;
    }
    @media #{$sm} {
        font-size: 25px;
    }
}
.cinkes_latest_blog_single_content_title a {
    text-decoration: none;
 }
 .cinkes_latest_blog_single_content_title:hover {
     color: #f94d1c;
 }

.cinkes_blog_meta {
    margin-bottom: 5px;
    &:is(.cinkes_latest_blog_single_meta_category) {
        @media #{$xs, $md} {
            display: block;
        }
        @media #{$sm} {
            display: inline-block;
        }
    }

}

/* Blog details */

.cinkes_blog_content_img {
    margin-bottom: 40px;
}

.cinkes_blog_content_meta span, .cinkes_blog_content_meta a {
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
    text-decoration: none;
}
.cinkes_blog_content_meta a:hover {
    color: #f94d1c;
}
.cinkes_blog_content_meta span i, .cinkes_blog_content_meta a i{
    color: #f94d1c;
    display: inline-block;
    margin-right: 8px;
}

.cinkes_blog_content_meta span:last-child, .cinkes_blog_content_meta a:last-child {
    margin-right: 0;
}

.cinkes_blog_content_meta {
    margin-bottom: 15px;
}

.cinkes_blog_content_title {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 20px;
    @media #{$xl} {
        font-size: 40px;
    }
    @media #{$lg} {
        font-size: 36px;
    }
    @media #{$md} {
        font-size: 40px;
    }
    @media #{$xs} {
        font-size: 24px;
    }
    @media #{$sm} {
        font-size: 28px;
    }
}

.cinkes_blog_content_wrapper > p {
    font-size: 18px;
    line-height: 35px;
}

.cinkes_blog_content_tags a {
    display: inline-block;
    height: 40px;
    text-decoration: none;
    font-size: 15px;
    line-height: 36px;
    padding: 0 18px;
    margin-right: 5px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.cinkes_blog_content_tags a:hover {
    color: #fff;
    background-color: #f94d1c;
    border-color: #f94d1c;
}

.cinkes_blog_content_tags a:last-child {
    margin-right: 0;
}

.cinkes_blog_content_share a {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #f4f4f4;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.cinkes_blog_content_share a:first-child {
    margin-left: 0;
}

.cinkes_blog_content_share a:hover {
    color: #fff;
    background-color: #f94d1c;
}

.cinkes_blog_content_author {
    background-color: #f4f4f4;
    padding: 40px;
    display: flex;
    border-radius: 10px;
    @media #{$xs} {
        padding: 40px 30px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.cinkes_blog_content_author_img {
    flex: 0 0 120px;
    max-width: 120px;
    margin-right: 25px;
    @media #{$xs} {
        margin-right: 0;
        margin-bottom: 25px;
    }
}

.cinkes_blog_content_author_img img {
    border-radius: 50%;
}

.cinkes_blog_content_author_name {
    font-size: 22px;
    @media #{$lg} {
        font-size: 20px;
    }
    @media #{$md, $xs} {
        font-size: 20px;
    }
}

.cinkes_blog_content_author_info p {
    font-size: 15px;
}

.cinkes_blog_content_author_social {
    margin-top: 20px;
}

.cinkes_blog_content_author_social a {
    display: inline-block;
    margin-right: 15px;
}

.cinkes_blog_content_author_social a:hover {
    color: #f94d1c;
}


.comments {
    &_title {
        font-size: 26px;
        line-height: 1.2;
        margin-bottom: 0;
        @media #{$xl} {
            font-size: 24px;
        }
        @media #{$lg} {
            font-size: 22px;
        }
        @media #{$md} {
            font-size: 22px;
        }
        @media #{$xs} {
            font-size: 22px;
            text-align: center;
        }
        @media #{$sm} {
            font-size: 22px;
        }
    }
}
.comment {
    &_title {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 0;
        justify-content: space-between;
        @media #{$lg} {
            font-size: 18px;
        }
        @media #{$md} {
            font-size: 18px;
        }
        @media #{$xs} {
            font-size: 18px;
        }
        &_flex {
            display: flex;
        }
        & a {
            text-decoration: none;
            &:hover {
                color: #f94d1c;
            }
        }
    }
    &_list {
        &_img {
            margin-right: 30px;
        }
        &_content {
            overflow: hidden;
        }
        &_item {
            display: flex;
            @media #{$xs} {
                flex-direction: column;
                padding-left: 0;
                text-align: center;
                padding-right: 0;
            }
            & .comment_list_img {
                flex: 0 0 auto;
                @media #{$xs} {
                    margin-right: 0;
                    margin-bottom: 15px;
                }
            }
        }
    }
    &_date {
        font-size: 15px;
        font-weight: 500;
    }
    &_content {
        font-size: 17px;
        line-height: 32px;
        margin-bottom: 6px;
        @media #{$xs} {
            font-size: 16px;
            line-height: 1.67;
            margin-bottom: 20px;
        }
    }
    &_btn , &_btn i{
        font-weight: 700;
        font-size: 15px;
        vertical-align: middle;
        text-decoration: none;
        color: #f94d1c;
    }
}


.contact_btn.w_100 {
    width: 100%;
     i {
        display: inline-block;
        margin-left: 5px;
    }
}

.single_page_form input {
    height: 60px;
    line-height: 60px;
    border: 1px solid #dfe1e1;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.single_page_form textarea {
    height: 200px;
    width: 100%;
    border: 1px solid #dfe1e1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.contact_btn {
    height: 60px;
    line-height: 60px;
    border: 0;
    background-color: #f94d1c;
    color: #fff;
    font-size: 15px;
    display: inline-block;
    padding: 0 40px;
    border-radius: 5px;
    font-weight: 500;
    transition: 0.3s;
    &:hover {
        background-color: #1A1A1A;
    }
}

.cinkes_blog_sidebar {
    padding: 40px 30px;
    padding-bottom: 45px;
    background-color: #f4f4f4;
    margin-bottom: 50px;
    border-radius: 10px;
}

.cinkes_sidebar_title {
    font-size: 28px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    @media #{$xl} {
        font-size: 26px;
    }
    @media #{$lg} {
        font-size: 24px;
    }
    @media #{$md} {
        font-size: 24px;
    }
    @media #{$xs} {
        font-size: 22px;
    }
    @media #{$sm} {
        font-size: 24px;
    }
}
.cinkes_sidebar_title::before {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 90px;
	content: "";
	border-bottom: 4px solid #f94d1c;
    z-index: 1;
}
.cinkes_sidebar_title::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60%;
    content: "";
    border-bottom: 4px solid #ebe6e4;
    z-index: 0;
}
.cinkes_sidebar-search input {
    width: 100%;
    height: 65px;
    line-height: 65px;
    padding: 0 25px;
    border: 0;
    padding-right: 60px;
    border-radius: 5px;
}

.cinkes_sidebar-search button[type="submit"] {
    position: absolute;
    right: 0;
    height: 100%;
    width: 60px;
    background-color: transparent;
    border: 0;
    color: #f94d1c;
    & i {
        font-weight: 500;
    }
}

.cinkes_sidebar-search {
    position: relative;
}

.cinkes_sidebar-category ul li {
    list-style: none;
}
.cinkes_sidebar-category ul li a {
    display: block;
    padding: 25px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 5px;
}
.cinkes_sidebar-category ul li a i {
    display: inline-block;
    margin-top: 3px;
    float: right;
}

.cinkes_sidebar-category ul li a:hover {
    background-color: #f94d1c;
    color: #fff;
}

.cinkes_sidebar-category ul li:not(:last-child) {
    margin-bottom: 20px;
}

.cinkes_sidebar-latestnewt {
    display: flex;
}

.cinkes_sidebar-latestnews-img {
    flex: 0 0 70px;
    margin-right: 15px;
    & img {
        border-radius: 5px;
    }
}

.cinkes_sidebar-latestnewt:not(:last-child) {
    margin-bottom: 20px;
}

.cinkes_sidebar-latestnews-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cinkes_sidebar-latestnews-title {
    font-size: 18px;
    margin-bottom: 5px;
    @media #{$lg, $xs} {
        font-size: 15px;
    }
    @media #{$sm} {
        font-size: 16px;
    }
    a {
        text-decoration: none;
        &:hover {
            color: #f94d1c;
        }
    }
}

.cinkes_sidebar-latestnews-date {
    font-size: 15px;
}

.cinkes_blog_sidebar_ad {
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 60px;
    border-radius: 10px;
    overflow: hidden;
}

.cinkes_blog_sidebar_ad:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #1a1a1a;
    z-index: -1;
    opacity: 0.9;
}

.cinkes_add_title {
    font-size: 45px;
    color: #fff;
    margin-bottom: 25px;
    @media #{$xs, $lg} {
        font-size: 26px;
    }
    @media #{$sm, $xl} {
        font-size: 32px;
    }
}

.cinkes_blog_sidebar_ad p {
    font-size: 15px;
    color: #fff;
    margin-bottom: 25px;
}

.cinkes_add_btn {
    height: 60px;
    line-height: 60px;
    background-color: #f94d1c;
    display: inline-block;
    padding: 0 40px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    &:hover {
        background-color: #fff;
        color: #1a1a1a;
    }
}

.cinkes_sidebar-cloudtag {
    margin-bottom: -15px;
    a {
        text-decoration: none;
        height: 40px;
        line-height: 40px;
        margin-right: 10px;
        margin-bottom: 15px;
        display: inline-block;
        padding: 0 18px;
        background-color: #fff;
        font-size: 15px;
        border-radius: 5px;
        &:hover {
            color: #fff;
            background-color: #f94d1c;
        }
    }
}

.blog_meta {
    display: flex;
    align-items: center;
    @media #{$xs} {
        flex-wrap: wrap;
    }
}

.blog_user_name {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 0;
}

.blog_user img {
    display: inline-block;
    margin-right: 10px;
}

.blog_comment {
    text-decoration: none;
}

.meta_item {
    position: relative;
}
.blog_meta a:hover {
    color: #f94d1c;
}
.meta_item i {
    color: #f94d1c;
    margin-right: 8px;
    font-size: 16px;
    transform: translateY(-2px);
    font-weight: 400;
}
.meta_item:not(:last-child):before {
    position: absolute;
    right: 0;
    top: 50%;
    width: 7px;
    height: 7px;
    background-color: #f94d1c;
    content: "";
    border-radius: 50%;
    transform: translateY(-50%);
    @media #{$xs} {
        display: none;
    }
}

.meta_item:not(:last-child) {
    margin-right: 25px;
    padding-right: 30px;
    @media #{$xs} {
        margin-right: 15px;
        padding-right: 0;
    }
}
.blog_user_name {
    transition: 0.3s;
}
.blog_user_name:hover {
    color: #f94d1c;
}
.blog_title {
    font-size: 36px;
    @media #{$xl} {
        font-size: 30px;
    }
    @media #{$lg} {
        font-size: 26px;
    }
    @media #{$md} {
        font-size: 28px;
    }
    @media #{$xs} {
        font-size: 24px;
    }
    @media #{$sm} {
        font-size: 26px;
    }
}

.blog_title a {
    text-decoration: none;
}
.blog_title a:hover {
    color: #f94d1c;
}

.blog_btn {
    height: 60px;
    line-height: 60px;
    padding: 0 45px;
    background-color: #f94d1c;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.blog_btn:hover {
    background-color: #1A1A1A;
    color: #fff;
}
.blog_thumb {
    border-radius: 10px 10px 0 0;
}

.blog_thumb img {
    border-radius: 10px 10px 0 0;
}

.blog_thumb img {
    border-radius: 10px 10px 0 0;
}

.blog_single_item {
    box-shadow: 0 13px 29px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.blog_content {
    padding: 40px 40px;
    @media #{$xs} {
        padding: 40px 30px;
    }
}
.blog_thumb {
    position: relative;
    border-radius: 10px 10px 0 0;
}

.video_icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #f9f9f9;
    text-align: center;
    line-height: 90px;
    display: inline-block;
    animation: pulse 2s infinite;
    -webkit-animation: pulse 2s infinite;
    font-size: 18px;
    @media #{$xs} {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 16px;
    }
    @media #{$sm} {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 16px;
    }
}
.video_presentation_btn {
    animation: pulse 2s infinite;
    -webkit-animation: pulse 2s infinite;
    &:hover {
        background-color: #f9f9f9; 
        color: #f94d1c;
    }
}
.cinkes_video1_btn {
    animation: pulse 2s infinite;
    -webkit-animation: pulse 2s infinite;
}
.video_icon:hover {
    background-color: #f94d1c;
    & i {
        color: #fff;
    }
}
/* pulse btn */
@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
      -webkit-box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
      -moz-box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);
      box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }
.video_abs {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.video_icon i {
    font-weight: 700;
    color: #f94d1c;
}

.blog_single_quote_content {
    padding: 40px;
    box-shadow: 0 13px 29px rgba(0,0,0,0.1);
    border-radius: 10px;
    position: relative;
}

.blog_single_quote_content i {
    font-size: 80px;
    color: #f94d1c;
    position: absolute;
}

.blog_single_quote_content p {
    padding-left: 105px;
    @media #{$xs}{
        padding-left: 0;
        padding-top: 100px;
    }
}

blockquote p {color: #666;margin-bottom: 20px;font-size: 18px;}

.quote_author {
    margin-bottom: 0;
    position: relative;
    padding-left: 150px;
    display: inline-block;
    font-size: 22px;
    @media #{$lg} {
        font-size: 20px;
    }
    @media #{$xs} {
        font-size: 20px;
        padding-left: 50px;
    }
}

.blog_single_quote_content blockquote {
    margin-bottom: 0;
}

.quote_author:before {
    position: absolute;
    left: 0;
    top: 50%;
    width: 45%;
    height: 2px;
    background-color: #f94d1c;
    content: "";
    transform: translateY(-50%);
    @media #{$xs} {
        width: 40px;
    }
}

.blog_pagination ul li {
    display: inline-block;
}
.blog_pagination ul li .page-numbers {
    text-decoration: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #f4f4f4;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.blog_pagination ul li .page-numbers:hover {
    background-color: #f94d1c;
    color: #fff;  
}
.blog_pagination ul li .current {
    background-color: #f94d1c;
    color: #fff;
}
.cinkes_blog_content_share {
    @media #{$xs} {
        margin-top: 20px;
    }
}
.cinkes_blog_content_img {
    border-radius: 10px 10px 0 0;
  }
  .cinkes_blog_content_img img {
    border-radius: 10px 10px 0 0;
  }

  .img_effect_white {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.img_effect_white > a:after {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    z-index: 1;
}
.img_effect_white a img {
    transition: 0.5s;
    width: 100%;
}

.cinkes_latest_blog_single:hover a:after, .cinkes_team_member_single:hover a:after, .blog_single_item:hover .img_effect_white > a:after, 
.cinkes_blog2:hover .img_effect_white > a:after {
    animation: shine 0.8s;
}
.cinkes_latest_blog_single:hover a img, .cinkes_team_member_single:hover a img, .blog_single_item:hover .img_effect_white > a img, 
.cinkes_blog2:hover .img_effect_white > a img {
    filter: grayscale(90%);
    transform: scale(1.1);
}

.cinkes_team_member_single.cinkes_team_member_single-2:hover a img {
    filter: blur(1.5px);
}

@-webkit-keyframes shine {
    100% {
      left: 125%;
    }
  }
  @keyframes shine {
    100% {
      left: 125%;
    }
}
.cinkes_sidebar-latestnews-img:hover img {
    filter: grayscale(90%);
}


/* Blog 2 css  */
.cinkes_blog2_single_content {
    background-color: #f1f3f2;
}
.cinkes_blog2_single_content_meta_wrap {
    position: relative;
}
.cinkes_blog2_single_meta_author img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 8px solid #fff;
    margin-right: 5px;
    margin-top: -45px;
}
.cinkes_blog2_single_content_text {
    padding: 20px 30px;
}
.cinkes_blog2_single_meta {
    padding-left: 30px;
    margin-right: 30px;
    background-color: #f1f3f2;
    margin-top: -45px;
    position: relative;
    z-index: 1;
    border-top-right-radius: 15px;
    padding-top: 10px;
}
.cinkes_blog2_meta {
    display: inline-block;
    a {
        text-decoration: none;
        &:hover {
            color: #f94d1c;
        }
    }
}
.cinkes_blog2_meta:not(:last-child) {
    margin-right: 10px;
    padding-right: 12px;
    position: relative;
    @media #{$xs} {
        padding-right: 0;
        margin-right: 0;
        display: block;
        margin-bottom: 10px;
    }
    @media #{$sm} {
        padding-right: 12px;
        margin-right: 10px;
        display: inline-block;
        margin-bottom: 0px; 
    }
}
.cinkes_blog2_meta:not(:last-child):before {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    background-color: #ddd;
    width: 1px;
    height: 12px;
    @media #{$xs}{
        display: none;
    }
    @media #{$sm}{
        display: block;
    }
}
.cinkes_blog2_meta i {
    margin-right: 7px;
}
.cinkes_blog2_single_content_title {
    font-size: 24px;
    line-height: 1.3;
}

.cinkes_blog2_single_content_title a {
    text-decoration: none;
    &:hover {
        color: #f94d1c;
    }
}