@use '../abstracts/variables' as *;

/*
************
*************************
22. Error
******************************************************* 
*************************************************************** */

.cinkes-404-title {
    font-size: 170px;
    color: #f94d1c;
    line-height: 1;
    @media #{$md} {
        font-size: 120px;
    }
    @media #{$xs} {
        font-size: 90px;
    }
}

.cinkes-error-text {
    font-size: 46px;
    color: #1a1a1a;
    @media #{$md} {
        font-size: 38px;
    }
    @media #{$xs} {
        font-size: 24px;
    }
}

.cinkes-erreor-content {
    font-size: 24px;
    @media #{$md} {
        font-size: 18px;
    }
    @media #{$xs} {
        font-size: 18px;
    }
}

.error-button {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #f94d1c;
    display: inline-block;
    padding: 0 45px;
    height: 65px;
    line-height: 60px;
    border-radius: 5px;
    border: 2px solid transparent;
    font-weight: 500;
}

.error-button:hover {
    border-color: #f94d1c;
    background-color: transparent;
    color: #f94d1c;
}