
/*
************
*************************
09. Brand
******************************************************* 
*************************************************************** */

.mtm-185 {
    margin-top: -85px;
}
.cinkes_brand_img img {
    max-width: 150px;
}
.cinkes_brand_bg_wrapper {
    overflow: hidden;
}
.cinkes_brand_bg_wrapper .swiper-wrapper {
    align-items: center;
}
.cinkes_brand_bg_wrapper-2 {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 70px 0px rgba(23, 44, 221, 0.08);
    border-radius: 10px;
}
